<template>
  <div class="content-wrapper">
    <div>
        <v-flex
                xs12
                text-xs-left
        >
            <router-link class="owners-create-link" to="/cars/create">Create Car</router-link>
        </v-flex>
        <table-list></table-list>
    </div>
  </div>
</template>

<script>
  import TableList from '../components/TableList.vue'

  export default {
    name: 'TableContainer',
    components: {
        TableList
    },
    mounted(){
    }
  };
</script>

<style lang="scss" scoped>
    .owners-create-link{
        margin-left: 30px;
    }
</style>
