<template>
    <v-container
            fill-height
            fluid
            grid-list-xl>
        <v-layout
                justify-center
                wrap
        >
            <v-flex
                    xs12
                    md12
            >
                <material-card
                        color="green"
                        :title="!isUpdate ? 'Create Car' : 'Update Car'"
                        text="Please fill the information below"
                >
                    <v-form v-model="valid">
                        <v-container py-0>
                            <v-layout wrap>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-select
                                            v-model="form.type"
                                            :items="types"
                                            :rules="typeRules"
                                            label="Type"
                                            item-value="value"
                                            item-text="name"
                                            required
                                    ></v-select>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="Title"
                                            v-model="form.title"
                                            :counter="30"
                                            :rules="titleRules"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="Fuel"
                                            v-model="form.fuel"
                                            :counter="30"
                                            :rules="fuelRules"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                        v-if="form.type == 'truck'"
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="Weight"
                                            v-model="form.weight"
                                            :counter="30"
                                            type="number"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                        v-if="form.type == 'car'"
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="Seat Count"
                                            v-model="form.seatCount"
                                            :counter="30"
                                            type="number"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-select
                                            v-model="form.ownerId"
                                            :items="owners"
                                            :rules="ownerIdRules"
                                            label="Owner"
                                            item-value="id"
                                            item-text="name"
                                            required
                                    ></v-select>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-switch v-model="form.isActive" label="Is Active"></v-switch>
                                </v-flex>
                                <v-flex
                                        xs12
                                        text-xs-right
                                >
                                <v-flex
                                        xs12
                                        md12
                                >
                                        <v-textarea
                                                class="purple-input"
                                                label="Comment"
                                                v-model="form.comment"
                                                :counter="300"
                                        />
                                </v-flex>
                                    <v-btn
                                            class="mx-0 font-weight-light"
                                            color="success"
                                            :disabled="!valid"
                                            @click.stop="create"
                                            v-if="!isUpdate"
                                    >
                                        Create
                                    </v-btn>
                                    <v-btn
                                            class="mx-0 font-weight-light"
                                            color="success"
                                            :disabled="!valid"
                                            @click.stop="update"
                                            v-if="isUpdate"
                                    >
                                        Update
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import MaterialCard from '@/components/Card.vue'
    import { mapGetters } from 'vuex';

    export default {
        components: {
            MaterialCard
        },
        data: () => ({
            valid: false,
            form:{
                id: null,
                type:'',
                title:'',
                fuel:'',
                weight:'',
                seatCount:'',
                isActive:false,
                comment:'',
                ownerId:''
            },
            typeRules: [
                v => !!v || 'Type is required',
            ],
            titleRules: [
                v => !!v || 'Title is required',
                v => (v && v.length <= 30) || 'Title must be less than 30 characters'
            ],
            fuelRules: [
                v => !!v || 'Fuel is required',
                v => (v && v.length <= 30) || 'Fuel must be less than 30 characters'
            ],
            ownerIdRules: [
                v => !!v || 'Owner is required',
            ],
            types:[
                { name: 'Car', value: 'car' },
                { name: 'Truck', value: 'truck' },
                { name: 'Spec car', value: 'spec' },
            ],
            isUpdate: false
        }),
        mounted(){
            this.$store.dispatch('global/owner/fetchOwners');
            if(this.$route.params.id){
                try {
                    this.$store.dispatch('global/car/fetchCars');
                    this.isUpdate = true;
                    this.form = this.cars[this.$route.params.id];
                } catch (e) {
                    // console.log(e,"ERROR");
                }
            }
        },
        computed: {
            ...mapGetters('global/car', {
                cars: 'getCars',
            }),
            ...mapGetters('global/owner', {
                owners: 'getOwners',
            }),
        },
        methods: {
            create(){
                try {
                    this.$store.dispatch('global/car/fetchCreateCar', this.form);
                    this.$router.push('/cars')
                } catch (e) {
                    // console.log(e,"ERROR");
                }
            },
            update(){
                try {
                    const body = {
                        key: this.$route.params.id,
                        car: this.form
                    }
                    this.$store.dispatch('global/car/fetchUpdateCar', body);
                    this.$router.push('/cars')
                } catch (e) {
                    // console.log(e,"ERROR");
                }
            }
        }
    }
</script>
