<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Cars List"
          text="Here is a list of cars"
        >
          <v-data-table
            :headers="headers"
            :items="cars"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item, index }"
            >
              <td>{{ item.type }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.fuel }}</td>
              <td>{{ item.weight }}</td>
              <td>{{ item.seatCount }}</td>
              <td>{{ item.isActive ? 'Yes' : 'No' }}</td>
              <td>{{ item.comment }}</td>
              <td>{{ getOwner(item.ownerId) }}</td>
              <td><router-link class="owners-go-back-link" :to="'/cars/update/' + index">Update</router-link></td>
              <td><span class="cars-delete-button" @click.stop="deleteCar(index)">Delele</span></td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
    import MaterialCard from '@/components/Card.vue'
    import { mapGetters } from 'vuex';

    export default {
      data: () => ({
        headers: [
          {
            sortable: false,
            text: 'Type',
            value: 'type'
          },
          {
            sortable: false,
            text: 'Title',
            value: 'title'
          },
          {
            sortable: false,
            text: 'Fuel',
            value: 'fuel'
          },
          {
            sortable: false,
            text: 'Weight',
            value: 'weight',
            align: 'right'
          },
          {
            sortable: false,
            text: 'Seat Count',
            value: 'seatCount'
          },
          {
            sortable: true,
            text: 'Is Active',
            value: 'isActive',
          },
          {
            sortable: false,
            text: 'Comment',
            value: 'comment',
          },
          {
            sortable: false,
            text: 'Owner',
            value: 'ownerId',
          },
          {
            sortable: false,
            text: '',
            value: ''
          },
          {
              sortable: false,
              text: '',
              value: ''
          },
        ],
      }),
      components: {
          MaterialCard
      },
      computed: {
          ...mapGetters('global/car', {
              cars: 'getCars',
          }),
          ...mapGetters('global/owner', {
              owners: 'getOwners',
          }),
      },
      mounted(){
          try {
              this.$store.dispatch('global/car/fetchCars');
              this.$store.dispatch('global/owner/fetchOwners');
          } catch (e) {
//              this.notifyError(e);
          }
      },
      methods:{
          getOwner(id){
             const index = this.owners.findIndex(x => x.id === id);
             return index != -1 ? this.owners[index].name : '-';
          },
          deleteCar(index){
             this.$store.dispatch('global/car/fetchDeleteCar',index);
          }
      }
    }
</script>
<style>
  .cars-delete-button{
    cursor: pointer;
    color: red;
  }
</style>
