<template>
    <v-container
            fill-height
            fluid
            grid-list-xl>
        <v-layout
                justify-center
                wrap
        >
            <v-flex
                    xs12
                    md12
            >
                <material-card
                        color="green"
                        :title="!isUpdate ? 'Create Rent' : 'Update Rent'"
                        text="Please fill the information below"
                >
                    <v-form v-model="valid">
                        <v-container py-0>
                            <v-layout wrap>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-select
                                            v-model="form.clientId"
                                            :items="clients"
                                            :rules="clientRules"
                                            label="Client"
                                            item-value="id"
                                            item-text="name"
                                            required
                                    ></v-select>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-select
                                            v-model="form.carId"
                                            :items="cars"
                                            :rules="carRules"
                                            label="Car"
                                            item-value="id"
                                            item-text="title"
                                            required
                                    ></v-select>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <label class="arenda-datepicker-label">Date From</label>
                                    <datetime format="YYYY-MM-DD H:i:s" v-model="form.from"></datetime>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <label class="arenda-datepicker-label">Date To</label>
                                    <datetime format="YYYY-MM-DD H:i:s" v-model="form.to"></datetime>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-select
                                            v-model="form.status"
                                            :items="statuses"
                                            :rules="statusRules"
                                            label="Status"
                                            item-value="value"
                                            item-text="name"
                                            required
                                    ></v-select>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md12
                                >
                                    <v-textarea
                                            class="purple-input"
                                            label="Comment"
                                            v-model="form.comment"
                                            :counter="300"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="Price"
                                            v-model="form.price"
                                            :counter="30"
                                            :rules="priceRules"
                                    />
                                </v-flex>

                                <v-flex
                                        xs12
                                        text-xs-right
                                >
                                    <v-btn
                                            class="mx-0 font-weight-light"
                                            color="success"
                                            :disabled="!valid"
                                            @click.stop="create"
                                            v-if="!isUpdate"
                                    >
                                        Create
                                    </v-btn>
                                    <v-btn
                                            class="mx-0 font-weight-light"
                                            color="success"
                                            :disabled="!valid"
                                            @click.stop="update"
                                            v-if="isUpdate"
                                    >
                                        Update
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import MaterialCard from '@/components/Card.vue'
    import { mapGetters } from 'vuex';
    import datetime from 'vuejs-datetimepicker';

    export default {
        components: {
            MaterialCard,
            datetime
        },
        data: () => ({
            valid: false,
            form:{
                id: null,
                clientId: '',
                carId: '',
                from: '',
                to: '',
                status: '',
                comment: '',
                price: ''
            },
            clientRules: [
                v => !!v || 'Client is required',
            ],
            carRules: [
                v => !!v || 'Car is required',
            ],
            fromRules: [
                v => !!v || 'From Date is required',
            ],
            toRules: [
                v => !!v || 'To Date is required',
            ],
            statusRules: [
                v => !!v || 'To Date is required',
            ],
            priceRules: [
                v => !!v || 'Price is required',
            ],
            statuses:[
                { name: 'accepted', value: 'accepted' },
                { name: 'rejected', value: 'rejected' },
                { name: 'started', value: 'started' },
            ],

            isUpdate: false
        }),
        mounted(){
            this.$store.dispatch('global/car/fetchCars');
            this.$store.dispatch('global/client/fetchClients');

            if(this.$route.params.id){
                try {
                    this.$store.dispatch('global/arenda/fetchArendas');
                    this.isUpdate = true;
                    this.form = JSON.parse(JSON.stringify(this.arendas[this.$route.params.id]));
                    if(this.form.status == 'started'){
                        this.$router.push('/rents')
                    }
                } catch (e) {
                    // console.log(e,"ERROR");
                }
            }
        },
        computed: {
            ...mapGetters('global/arenda', {
                arendas: 'getArendas',
            }),
            ...mapGetters('global/car', {
                cars: 'getCars',
            }),
            ...mapGetters('global/client', {
                clients: 'getClients',
            }),
        },
        methods: {
            create(){
                try {
                    this.$store.dispatch('global/arenda/fetchCreateArenda', this.form);
                    this.$router.push('/rents')
                } catch (e) {
                    // console.log(e,"ERROR");
                }
            },
            update(){
                try {
                    const body = {
                        key: this.$route.params.id,
                        arenda: this.form
                    }
                    this.$store.dispatch('global/arenda/fetchUpdateArenda', body);
                    this.$router.push('/rents')
                } catch (e) {
//                    console.log(e,"ERROR");
                }
            }
        }
    }
</script>
<style>
    .arenda-datepicker-label{
        float: left;
        color: gray;
    }
</style>
