<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Rents List"
          text="Here is a list of rents"
        >
          <v-data-table
            :headers="headers"
            :items="arendas"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item, index }"
            >
              <td>{{ getClient(item.clientId) }}</td>
              <td>{{ getCar(item.carId) }}</td>
              <td>{{ item.from }}</td>
              <td>{{ item.to }}</td>
              <td>{{ item.status }}</td>
              <td>{{ item.comment }}</td>
              <td>{{ item.price }}</td>
              <td><router-link v-if="item.status != 'started'" class="owners-go-back-link" :to="'/arendas/update/' + index">Update</router-link></td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
    import MaterialCard from '@/components/Card.vue'
    import { mapGetters } from 'vuex';

    export default {
      data: () => ({
        headers: [
          {
            sortable: false,
            text: 'Client',
            value: 'clientId'
          },
          {
            sortable: false,
            text: 'Car',
            value: 'carId'
          },
          {
            sortable: false,
            text: 'Date From',
            value: 'from'
          },
          {
            sortable: false,
            text: 'Date To',
            value: 'to',
          },
          {
            sortable: false,
            text: 'Status',
            value: 'status'
          },
          {
            sortable: false,
            text: 'Comment',
            value: 'comment'
          },
          {
            sortable: false,
            text: 'Price',
            value: 'price'
          },
          {
            sortable: false,
            text: '',
            value: ''
          },
        ],
      }),
      components: {
          MaterialCard
      },
      computed: {
          ...mapGetters('global/arenda', {
              arendas: 'getArendas',
          }),
          ...mapGetters('global/car', {
              cars: 'getCars',
          }),
          ...mapGetters('global/client', {
              clients: 'getClients',
          }),
      },
      mounted(){
          try {
              this.$store.dispatch('global/arenda/fetchArendas');
              this.$store.dispatch('global/client/fetchClients');
              this.$store.dispatch('global/car/fetchCars');
          } catch (e) {
              //this.notifyError(e);
          }
      },
      methods:{
          getClient(id){
              const index = this.clients.findIndex(x => x.id === id);
              return index != -1 ? this.clients[index].name : '-';
          },
          getCar(id){
              const index = this.cars.findIndex(x => x.id === id);
              return index != -1 ? this.cars[index].title : '-';
          },
      }
    }
</script>
<style>
  .clients-delete-button{
    cursor: pointer;
    color: red;
  }
</style>
