<template>
    <v-container
            fill-height
            fluid
            grid-list-xl>
        <v-layout
                justify-center
                wrap
        >
            <v-flex
                    xs12
                    md12
            >
                <material-card
                        color="green"
                        :title="!isUpdate ? 'Create Client' : 'Update Client'"
                        text="Please fill the information below"
                >
                    <v-form v-model="valid">
                        <v-container py-0>
                            <v-layout wrap>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="Name"
                                            v-model="form.name"
                                            :counter="30"
                                            :rules="nameRules"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="Passport Id"
                                            v-model="form.passportId"
                                            :counter="10"
                                            :rules="passportIdRules"
                                            type="number"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="License Id"
                                            v-model="form.licenseId"
                                            :counter="10"
                                            :rules="licenseIdRules"
                                            type="number"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            class="purple-input"
                                            label="Phone"
                                            v-model="form.phone"
                                            :counter="12"
                                            :rules="phoneRules"
                                            type="number"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        text-xs-right
                                >
                                    <v-btn
                                            class="mx-0 font-weight-light"
                                            color="success"
                                            :disabled="!valid"
                                            @click.stop="create"
                                            v-if="!isUpdate"
                                    >
                                        Create
                                    </v-btn>
                                    <v-btn
                                            class="mx-0 font-weight-light"
                                            color="success"
                                            :disabled="!valid"
                                            @click.stop="update"
                                            v-if="isUpdate"
                                    >
                                        Update
                                    </v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-form>
                </material-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import MaterialCard from '@/components/Card.vue'
    import { mapGetters } from 'vuex';

    export default {
        components: {
            MaterialCard
        },
        data: () => ({
            valid: false,
            form:{
                id: null,
                name:'',
                passportId:'',
                licenseId:'',
                phone:''
            },
            passportIdRules: [
                v => !!v || 'passportId is required',
                v => (v && v.length <= 10) || 'Passport Id must be less than 10 characters'
            ],
            licenseIdRules: [
                v => !!v || 'licenseId is required',
                v => (v && v.length <= 10) || 'License Id must be less than 10 characters'
            ],
            phoneRules: [
                v => !!v || 'Phone is required',
                v => (v && v.length <= 12) || 'Phone must be less than 12 characters'
            ],
            nameRules: [
                v => !!v || 'Name is required',
                v => (v && v.length <= 30) || 'Name must be less than 30 characters'
            ],
            isUpdate: false
        }),
        mounted(){
            if(this.$route.params.id){
                try {
                    this.$store.dispatch('global/client/fetchClients');
                    this.isUpdate = true;
                    this.form = this.clients[this.$route.params.id];
                } catch (e) {
                    // console.log(e,"ERROR");
                }
            }
        },
        computed: {
            ...mapGetters('global/client', {
                clients: 'getClients',
            }),
        },
        methods: {
            create(){
                try {
                    this.$store.dispatch('global/client/fetchCreateClient', this.form);
                    this.$router.push('/clients')
                } catch (e) {
                    // this.notifyError(e);
                }
            },
            update(){
                try {
                    const body = {
                        key: this.$route.params.id,
                        client: this.form
                    }
                    this.$store.dispatch('global/client/fetchUpdateClient', body);
                    this.$router.push('/clients')
                } catch (e) {
                    // console.log(e,"ERROR");
                }
            }
        }
    }
</script>
