<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Cleints List"
          text="Here is a list of clients"
        >
          <v-data-table
            :headers="headers"
            :items="clients"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item, index }"
            >
              <td>{{ item.name }}</td>
              <td>{{ item.passportId }}</td>
              <td>{{ item.licenseId }}</td>
              <td>{{ item.phone }}</td>
              <td><router-link class="owners-go-back-link" :to="'/clients/update/' + index">Update</router-link></td>
              <td><span class="clients-delete-button" @click.stop="deleteClient(index)">Delele</span></td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
    import MaterialCard from '@/components/Card.vue'
    import { mapGetters } from 'vuex';

    export default {
      data: () => ({
        headers: [
          {
            sortable: false,
            text: 'Name',
            value: 'name'
          },
          {
            sortable: false,
            text: 'Passport Number',
            value: 'passportId'
          },
          {
            sortable: false,
            text: 'Driver Id Number',
            value: 'licenseId'
          },
          {
            sortable: false,
            text: 'Phone',
            value: 'phone',
            align: 'right'
          },
          {
              sortable: false,
              text: '',
              value: ''
          },
          {
              sortable: false,
              text: '',
              value: ''
          },
        ],
      }),
      components: {
          MaterialCard
      },
      computed: {
          ...mapGetters('global/client', {
              clients: 'getClients',
          }),
      },
      mounted(){
          try {
              this.$store.dispatch('global/client/fetchClients');
          } catch (e) {
              //this.notifyError(e);
          }
      },
      methods:{
          deleteClient(index){
              this.$store.dispatch('global/client/fetchDeleteClient',index);
          }
      }
    }
</script>
<style>
  .clients-delete-button{
    cursor: pointer;
    color: red;
  }
</style>
