<template>
  <v-navigation-drawer
          id="app-drawer"
          app
          dark
          floating
          persistent
          mobile-break-point="991"
          width="260"
  >
    <v-img
            :src="image"
            height="100%"
            class="sidebar-background-image"
    >
      <v-layout
              class="fill-height"
              tag="v-list"
              column
      >
        <v-list-tile avatar>
          <v-list-tile-avatar
                  color="white"
          >
          </v-list-tile-avatar>
          <v-list-tile-title class="title">
            Auto
          </v-list-tile-title>
        </v-list-tile>
        <v-divider/>
        <v-list-tile
                v-if="responsive"
        >
          <v-text-field
                  class="purple-input search-input"
                  label="Search..."
                  color="purple"
          />
        </v-list-tile>
        <v-list-tile
                v-for="(link, i) in links"
                :key="i"
                :to="link.to"
                :active-class="color"
                avatar
                class="v-list-item"
        >
          <v-list-tile-action>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title
                  v-text="link.text"
          />
        </v-list-tile>
        <v-list-tile
                disabled
                active-class="primary"
                class="v-list-item v-list__tile--buy"
                to="/upgrade"
        >
          <v-list-tile-action>
            <v-icon>mdi-package-up</v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-layout>
    </v-img>
  </v-navigation-drawer>
</template>

<script>

    export default {
        data: () => ({
            image: 'https://demos.creative-tim.com/vue-material-dashboard/img/sidebar-2.32103624.jpg',
            color: 'success',
            links: [
                {
                    to: '/owners',
                    icon: 'mdi-view-dashboard',
                    text: 'Car Owners'
                },
                {
                    to: '/cars',
                    icon: 'mdi-account',
                    text: 'Cars'
                },
                {
                    to: '/clients',
                    icon: 'mdi-clipboard-outline',
                    text: 'Clients'
                },
                {
                    to: '/rents',
                    icon: 'mdi-clipboard-outline',
                    text: 'Rents'
                }
            ],
            responsive: false
        }),
        computed: {
        },
        mounted () {
        },
        beforeDestroy () {
        },
        methods: {

        }
    }
</script>

<style lang="scss">
  #app-drawer {
    .v-list__tile {
      border-radius: 4px;

      &--buy {
        margin-top: auto;
        margin-bottom: 17px;
      }
    }

    .v-image__image--contain {
      top: 9px;
      height: 60%;
    }

    .search-input {
      margin-bottom: 30px !important;
      padding-left: 15px;
      padding-right: 15px;
    }

    div.v-responsive.v-image > div.v-responsive__content {
      overflow-y: auto;
    }

    .sidebar-background-image .v-image__image{
      opacity: 0.5;
    }
  }
</style>