<template>
    <div class="content-wrapper">
        <div class='main-panel'>
            <v-flex
                    xs12
                    text-xs-left
            >
                <router-link class="owners-go-back-link" to="/owners">Back</router-link>
            </v-flex>
            <create-item></create-item>
        </div>
    </div>
</template>

<script>
    import CreateItem from '../components/CreateItem.vue'
    export default {
        name: 'CreateContainer',
        components: {
            CreateItem
        },
        data: () => ({
        }),
        mounted(){
        }
    };
</script>

<style lang="scss" scoped>
    .owners-go-back-link {
        margin-left: 30px;
    }
</style>
