<template>
    <div class="main-layout-container">
        <sidebar />
        <div id="core-view">
            <v-fade-transition mode="out-in">
                <router-view />
            </v-fade-transition>
        </div>
    </div>
</template>

<script>
    import Sidebar from '@/components/Sidebar.vue'

    export default {
        name: 'MainLayout',
        components: {
            Sidebar
        },
        data() {
            return {

            };
        },
        computed: {
        },
        watch: {
        },
        methods: {

        },
        mounted() {
        },
    };
</script>

<style lang="scss" scoped>
    #core-view {
        padding-bottom: 100px;
        position: relative;
        float: right;
        width: calc(100% - 260px);
        -webkit-transition: all .33s cubic-bezier(.685,.0473,.346,1);
        transition: all .33s cubic-bezier(.685,.0473,.346,1);
    }
</style>
